<!DOCTYPE html>
<html>
  <head>
    <title>Partition - Icicle</title>
    <script type="text/javascript" src="{{ STATIC_URL }}d3.v3.min.js"></script> 
    <style type="text/css">

.chart {
  display: block;
  margin: auto;
  margin-top: 60px;
  font-size: 11px;
}

rect {
  stroke: #eee;
  fill: #aaa;
  fill-opacity: .8;
}

rect.parent {
  cursor: pointer;
  fill: steelblue;
}

text {
  pointer-events: none;
}

    </style>
  </head>
  <body>
    <div id="body">
      <div id="footer">
        <h2>{{ sdir }} </h2>
        <form method=POST id="root_form">
            {% csrf_token %} 
            <input type=hidden name=startd value="/www-snapmirrored"><input type=submit value='Go to root'>
        </form>
        <div class="row">
            <form method=POST id="search_form">
                {% csrf_token %} 
                <div class="col-xs-1">
                </div>
                <div class="col-xs-2">
                    {% bootstrap_field form.startd %} 
                </div>
                <div class="col-xs-3">
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            {% bootstrap_icon "star" %} Submit
                        </button>
                    {% endbuttons %}
                </div>
            </form>
        </div>
      </div>
      <h2 style='color:red;'>{{ errore }}</h2>
    </div>
    <script type="text/javascript">

var w = 1120,
    h = 600,
    x = d3.scale.linear().range([0, w]),
    y = d3.scale.linear().range([0, h]);

var vis = d3.select("#body").append("div")
    .attr("class", "chart").style("width", w + "px")
    .style("height", h + "px").append("svg:svg")
    .attr("width", w).attr("height", h);

var partition = d3.layout.partition().value(function(d) { return d.size; });

var root = {{ jsondir|safe }} ;

var root2 = {
 "name": "flare",
 "children": [
  {
   "name": "analytics",
   "children": [
    {
     "name": "cluster",
     "children": [
      {"name": "AgglomerativeCluster", "size": 3938}, {"name": "CommunityStructure", "size": 3812}, {"name": "MergeEdge", "size": 743}
     ]
    },
    {
     "name": "graph",
     "children": [ {"name": "BetweennessCentrality", "size": 3534}, {"name": "LinkDistance", "size": 5731} ]
    }
   ]
  }
 ]
};


var g = vis.selectAll("g").data(partition.nodes(root))
    .enter().append("svg:g")
    .attr("transform", function(d) { return "translate(" + x(d.y) + "," + y(d.x) + ")"; }).on("click", click);

var kx = w / root.dx, ky = h / 1;

g.append("svg:rect")
      .attr("width", root.dy * kx).attr("height", function(d) { return d.dx * ky; })
      .attr("class", function(d) { return d.children ? "parent" : "child"; });

g.append("svg:text")
      .attr("transform", transform).attr("dy", ".35em")
      .style("opacity", function(d) { return d.dx * ky > 12 ? 1 : 0; })
      .text(function(d) { return d.name; })

d3.select(window).on("click", function() { click(root); })

function redirectpath(d){
    var basepath = "{{bpath}}";
    var path;
    var pos = d.name.search("\ \\(");
    path = d.name.substr(0,pos)
    var par = d.parent
    while (par != null){
        var val = par.name
        var pos = val.search("\ \\(")
        path = val.substr(0,pos) + '/' + path
        par = par.parent
    }
    path = basepath + '/' + path;
    document.getElementById('spath').value = path;
    document.getElementById('search_form').submit();

    
}

function click(d) {
    if (!d.children) redirectpath(d);

    kx = (d.y ? w - 40 : w) / (1 - d.y);
    ky = h / d.dx;
    x.domain([d.y, 1]).range([d.y ? 40 : 0, w]);
    y.domain([d.x, d.x + d.dx]);

    var t = g.transition()
        .duration(d3.event.altKey ? 7500 : 750)
        .attr("transform", function(d) { return "translate(" + x(d.y) + "," + y(d.x) + ")"; });

    t.select("rect")
        .attr("width", d.dy * kx)
        .attr("height", function(d) { return d.dx * ky; });

    t.select("text")
        .attr("transform", transform)
        .style("opacity", function(d) { return d.dx * ky > 12 ? 1 : 0; });

    d3.event.stopPropagation();
}

function transform(d) {
    return "translate(8," + d.dx * ky / 2 + ")";
}

    </script>
  </body>
</html>

